<h2>Movies</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Movie name</th>
    <th scope="col">Mash</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movies">
    <td>{{movie.name}}</td>
    <td>
      <button class="btn btn-primary btn-sm">show movies</button>
      <a routerLink="/movies/detail/{{movie.id}}" class="btn btn-dark btn-sm">show detail</a>
      <a routerLink="/movies/edit/{{movie.id}}" class="btn btn-dark btn-sm">edit</a>
      <button (click)="remove(movie.id);" class="btn btn-danger btn-sm">delete</button>
    </td>
  </tr>
  </tbody>
</table>
