<div class="row app-rating-index">
  <div *ngFor="let rating of ratings" class="col-xs-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{rating.user?.firstName}} {{rating.user?.lastName}}</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">{{rating.description}}</p>
          <div class="card-text">
            <div>
              <b>overall:</b> {{rating.overallRating}}%
            </div>
            <div><b>actors:</b> {{rating.actorsRating}}%</div>
            <div><b>scenario:</b> {{rating.scenarioRating}}%</div>
          </div>
          <a *ngIf="getAuthenticated()?.id == rating.user?.id;else blankA" href="" (click)="remove($event, rating.id)"
             class="card-link">Delete my review</a>
          <ng-template #blankA><span class="h20 op0">&nbsp;</span></ng-template>
        </div>
      </div>
  </div>
</div>

