<h2>
  {{title}}
</h2>

<form #movieForm="ngForm" name="missionForm">
  <div class="form-group">
    <label for="movie-title">Name</label>
    <input [(ngModel)]="movie.title" #name="ngModel" name="movie-title" type="text" class="form-control" id="movie-title" placeholder="Mash">
  </div>
  <div class="form-group">
    <label for="movie-description">Description</label>
    <textarea [(ngModel)]="movie.description" #description="ngModel" name="movie-description" class="form-control" id="movie-description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="movie-image">Image</label>
    <textarea [(ngModel)]="movie.image" #image="ngModel" name="movie-image" class="form-control" id="movie-image" rows="3" (change)="getFiles($event)">
    </textarea>
  </div>
  <div class="form-group">
    <label for="movie-image">Image</label>
    <img src="{{movie.image}}">
    {{movie.image}}
  </div>
  <div class="form-group">
    <label for="movie-dateOfReleaseYear">Date of release year</label>
    <input type="text" [(ngModel)]="movie.dateOfRelease.year" #year="ngModel" name="movie-dateOfRelease-year" class="form-control" id="movie-dateOfReleaseYear" rows="3">
  </div>
  <div class="form-group">
    <label for="movie-dateOfReleaseMonth">Date of release month</label>
    <input type="text" [(ngModel)]="movie.dateOfRelease.monthValue" #month="ngModel" name="movie-dateOfRelease-monthValue" class="form-control" id="movie-dateOfReleaseMonth" rows="3">
  </div>
  <div class="form-group">
    <label for="movie-dateOfReleaseDay">Date of release day</label>
    <input type="text" [(ngModel)]="movie.dateOfRelease.dayOfMonth" #day="ngModel" name="movie-dateOfRelease-dayOfMonth" class="form-control" id="movie-dateOfReleaseDay" rows="3">
  </div>
  <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
  <button *ngIf="editing==true" (click)="remove(movie.id)" class="btn btn-danger btn-sm">delete</button>
</form>
