<h2>
  {{title}}
</h2>
<div *ngIf="isUserAdmin()">
  <form #movieForm="ngForm" name="missionForm">
    <div class="form-group">
      <label for="movie-title">Name</label>
      <input [(ngModel)]="movie.title" #name="ngModel" name="movie-title" type="text" class="form-control" id="movie-title"  minlength="1"  required [ngClass]="{'is-invalid': invalid(name)}">
      <div *ngIf="invalid(name)" class="invalid-feedback">
        Please enter movie title that is at least 1 character long.
      </div>
    </div>
    <div class="form-group">
      <label for="movie-description">Description</label>
      <textarea [(ngModel)]="movie.description" #description="ngModel" name="movie-description" class="form-control" id="movie-description" rows="3"  minlength="5"  required [ngClass]="{'is-invalid': invalid(description)}"></textarea>
      <div *ngIf="invalid(description)" class="invalid-feedback">
        Please enter movie description that is at least 5 characters long.
      </div>
    </div>

    <div class="form-group">
      <label for="movie-description">Director</label>
      <select [(ngModel)]="movie.director.id" class="directors-sel form-control" name="director" required>
        <option *ngFor="let director of directors" value="{{director.id}}">{{director.firstName}} {{director.lastName}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="s2actrs">Actors</label>
      <select class="form-control" name="s2actrs" id="s2actrs" multiple required></select>
      <!--<select [(ngModel)]="actorsSel" class="directors-sel form-control" name="actors" multiple>-->
        <!--<option *ngFor="let actor of actors" value="{{actor.id}}">{{actor.firstName}} {{actor.lastName}}</option>-->
      <!--</select>-->
    </div>





    <div class="form-group">
      <label for="s2gnrs">Genres</label>
      <select class="form-control" name="s2gnrs" id="s2gnrs" multiple required></select>
      <!--<select [(ngModel)]="genresSel" class="directors-sel form-control" name="genres" multiple>-->
        <!--<option *ngFor="let genre of genres" value="{{genre.id}}">{{genre.name}}</option>-->
      <!--</select>-->
    </div>

    <div class="form-group">
      <label for="movie-image">Image</label>
	  <input type="file" [(ngModel)]="file" #image="ngModel" name="movie-image" class="form-control" id="movie-image" (change)="changeListener($event)" accept="image/jpeg,image/gif,image/png" valid-file [ngClass]="{'is-invalid': invalid(image)}">
      <div *ngIf="invalid(image)" class="invalid-feedback">
        Please enter a valid image.
      </div>
	  <div *ngIf="movie.image" class="form-control">
        <img class="pic condition" src="{{movie.image}}">
      </div>
      
    </div>


    <div class="form-group">
      <label for="movie-dateOfRelease">Date of release</label>
      <input type="date" [(ngModel)]="movie.date" #date="ngModel" name="movie-dateOfRelease" class="form-control" id="movie-dateOfRelease" required [ngClass]="{'is-invalid': invalid(date)}">
      <div *ngIf="invalid(date)" class="invalid-feedback">
        Please enter a valid date of release.
      </div>
    </div>
    <button [disabled]="movieForm.invalid" class="btn btn-primary btn-sm" (click)="save()">Save</button>
    <button *ngIf="editing==true" (click)="remove(movie.id)" class="btn btn-danger btn-sm">Delete</button>
</form>
</div>
