<footer>
  <div class="container">
    <section>
      <span class="copy">
        &copy; 2017 Faculty of Informatics, Masaryk University <br>PA165 Vývoj programových systémů v jazyce Java
      </span>
      <div>
      <span class="contributors">
      <span>
        Contributors
      </span>
        <span class="contributors-in">
          Marek Urban <span class="slash"></span> Michal Beran <span class="slash"></span> Maroš Grman <span class="slash"></span> Dominik Mlynka
        </span>
      </span>
      </div>

    </section>
    <!--<section>-->
      <!--<div>-->
        <!--<span>Contributors:</span>-->
        <!--<ul>-->
          <!--<li>-->
            <!--Marek Urban-->
          <!--</li>-->

          <!--<li>-->
            <!--Maroš Grman-->
          <!--</li>-->

          <!--<li>-->
            <!--Michal Beran-->
          <!--</li>-->

          <!--<li>-->
            <!--Dominik Mlynka-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->

    <!--</section>-->
  </div>
</footer>
