<footer>
  <div class="container">
    <section>
      Copyright &copy; 2017 FI MUNI PA165 Marek Urban, Michal Beran, Maroš Grman, Dominik Mlynka
    </section>
    <!--<section>-->
      <!--<div>-->
        <!--<span>Contributors:</span>-->
        <!--<ul>-->
          <!--<li>-->
            <!--Marek Urban-->
          <!--</li>-->

          <!--<li>-->
            <!--Maroš Grman-->
          <!--</li>-->

          <!--<li>-->
            <!--Michal Beran-->
          <!--</li>-->

          <!--<li>-->
            <!--Dominik Mlynka-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->

    <!--</section>-->
  </div>
</footer>
