<h2>
  {{title}}
</h2>

<form #actorForm="ngForm" name="missionForm">
  <div class="form-group">
    <label for="actor-firstName">First name</label>
    <input [(ngModel)]="actor.firstName" #firstName="ngModel" minlength="3" maxlength="50" required [ngClass]="{'is-invalid': invalid(firstName)}"  name="firstName" type="text" class="form-control" id="actor-firstName" placeholder="name">
    <div *ngIf="invalid(firstName)" class="invalid-feedback">
      Please provide a valid first name. Name length must be between 3 and 50 characters.
    </div>
  </div>
  <div class="form-group">
    <label for="actor-lastName">Last name</label>
    <input [(ngModel)]="actor.lastName" #lastName="ngModel" minlength="3" maxlength="50" required [ngClass]="{'is-invalid': invalid(lastName)}"  name="lastName" type="text" class="form-control" id="actor-lastName" placeholder="name">
    <div *ngIf="invalid(lastName)" class="invalid-feedback">
      Please provide a valid last name. Last name length must be between 3 and 50 characters.
    </div>
  </div>
  <label for="actor-date">Date of release</label>
  <input type="date" [(ngModel)]="actor.date" #year="ngModel" name="actor-date" class="form-control" id="actor-date" rows="3">
  <button [disabled]="actorForm.invalid" class="btn btn-primary btn-sm" (click)="save()">Save</button>
  <button *ngIf="editing==true" (click)="remove(actor.id)" class="btn btn-danger btn-sm">delete</button>
</form>
