<h2>
  {{title}}
</h2>

<form #userForm="ngForm" name="missionForm">
  <div class="form-group">
    <label for="user-nick">Nick</label>
    <input disabled [(ngModel)]="user.nick" #nick="ngModel" name="user-nick" type="text" class="form-control" id="user-nick" minlength="3" required [ngClass]="{'is-invalid': invalid(nick)}">
    <div *ngIf="invalid(nick)" class="invalid-feedback">
      Please enter your new Nick that is at least 3 characters long.
    </div>
  </div>
  <div class="form-group">
    <label for="user-mail">Mail</label>
    <input disabled type="email" [(ngModel)]="user.mail" #mail="ngModel" name="user-mail" class="form-control" id="user-mail" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required [ngClass]="{'is-invalid': invalid(mail)}">
    <div *ngIf="invalid(mail)" class="invalid-feedback">
      Please enter a valid e-mail.
    </div>
  </div>
  <div class="form-group">
    <label for="user-firstName">First Name</label>
    <input disabled type="text" [(ngModel)]="user.firstName" #firstName="ngModel" name="user-firstName" class="form-control" id="user-firstName" required [ngClass]="{'is-invalid': invalid(firstName)}">
    <div *ngIf="invalid(firstName)" class="invalid-feedback">
      Please enter your first name.
    </div>
  </div>
  <div class="form-group">
    <label for="user-lastName">Last Name</label>
    <input disabled type="text" [(ngModel)]="user.lastName" #lastName="ngModel" name="user-lastName" class="form-control" id="user-lastName" required [ngClass]="{'is-invalid': invalid(lastName)}">
    <div *ngIf="invalid(lastName)" class="invalid-feedback">
      Please enter your last name.
    </div>
  </div>
  <div *ngIf="isUserAdmin()">
    <a routerLink="/users/edit/{{user.id}}" class="btn btn-dark btn-sm">edit</a>
    <button (click)="remove(user.id)" class="btn btn-danger btn-sm">delete</button>
  </div>
</form>

