<button (click)="toggleNewRatingForm()" class="btn btn-dark">Rate movie!</button>
<div class="rating-create-container">
  <form #ratingForm="ngForm" name="ratingForm">
    <!--<input [(ngModel)]="rating.overallRating" type="hidden" name="overall-rating" id="overall-rating-inp">-->
    <!--<input [(ngModel)]="rating.actorsRating" type="hidden" name="actors-rating" id="actors-rating-inp">-->
    <!--<input [(ngModel)]="rating.scenarioRating" type="hidden" name="scenario-rating" id="scenario-rating-inp">-->

    <div class="slider-group">
      <span class="description">Overall rating: </span>
      <span class="slider-in">
    <input name="overallRatingS" id="overall" data-slider-id='overall-slider' type="text" data-slider-min="0" data-slider-max="100"
           data-slider-step="2" data-slider-value="0"/>
  </span>
      <span class="value">
    <span id="overall-val">0</span>%
  </span>
    </div>

    <div class="slider-group">
      <span class="description">Actors rating: </span>
      <span class="slider-in">
    <input name="actorsRatingS" id="actors" data-slider-id='actors-slider' type="text" data-slider-min="0" data-slider-max="100"
           data-slider-step="2" data-slider-value="0"/>
  </span>
      <span class="value">
    <span id="actors-val">0</span>%
  </span>
    </div>

    <div class="slider-group">
      <span class="description">Scenario rating: </span>
      <span class="slider-in">
    <input name="scenarioRatingS" id="scenario" data-slider-id='scenario-slider' type="text" data-slider-min="0" data-slider-max="100"
           data-slider-step="2" data-slider-value="0"/>
  </span>
      <span class="value">
    <span id="scenario-val">0</span>%
  </span>
    </div>

    <div class="form-group">
      <label for="rating-description"><b>Description:</b></label>
      <textarea [(ngModel)]="rating.description" #description="ngModel" minlength="3" maxlength="600" required [ngClass]="{'is-invalid': invalid(description)}" name="rating-description" class="form-control" id="rating-description" rows="3"></textarea>
      <div *ngIf="invalid(description)" class="invalid-feedback">
        Please provide a valid description. Description length must be between 3 and 600 characters.
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="ratingForm.invalid" (click)="save()" class="btn btn-primary">Save</button>
      <button (click)="toggleNewRatingForm()" class="btn btn-secondary">Cancel</button>
    </div>
  </form>
</div>
