<h2>Genres</h2>
<table class="table table-responsive d-md-table">
  <thead>
  <tr>
    <th scope="col">Genre name</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let genre of genres">
    <td>{{genre.name}}</td>
    <td>
      <button class="btn btn-primary btn-sm" (click)="getMovies(genre.id)">show movies</button>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <a routerLink="/genres/detail/{{genre.id}}" class="btn btn-dark btn-sm">detail</a>
        <a *ngIf="isUserAdmin()" routerLink="/genres/edit/{{genre.id}}" class="btn btn-secondary btn-sm">edit</a>
        <button *ngIf="isUserAdmin()" (click)="remove(genre.id);" class="btn btn-danger btn-sm">delete</button>
      </div>

    </td>
  </tr>
  </tbody>
</table>
