<header>
  <div id="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-sm-none small-title">
            <h3>Movies Catalogue</h3>
          </div>
          <div class="flex-center-spaced">
            <div class="d-none d-sm-block">
              <div class="logo">
                <div class="logo-bg"></div>
              </div>
              <!--<h1>Movies catalogue</h1>-->

            </div>
            <div class="user">
              <span *ngIf="isLoggedIn()"><h5>hello, {{getLoggedUser().firstName}}.</h5> <a class="btn btn-outline-warning" href="#" (click)="logout()">Log out</a></span>
              <span *ngIf="!isLoggedIn()"><h5 class="d-none d-sm-inline">hello, stranger!</h5> <a class="btn btn-outline-warning" routerLink="/users/login">Log in</a> or <a class="btn btn-outline-info" routerLink="/users/create">Sign up</a></span>
            </div>
            <div class=" d-sm-none">
              <a href="#" (click)="dropdownMenuToggle($event)" class="btn btn-outline-info">Menu</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <!--<h2>Hi {{currentUser.nick}}</h2>-->
        </div>
      </div>
    </div>
  </div>
  <div id="header-bottom" class="d-none d-sm-block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
            <li><a routerLink="/genres" routerLinkActive="active">Genres</a></li>
            <li><a routerLink="/actors" routerLinkActive="active">Actors</a></li>
            <li><a routerLink="/directors" routerLinkActive="active">Directors</a></li>
            <!--<li><a routerLink="ratings" routerLinkActive="active">Ratings</a></li>-->
            <li *ngIf="isAdmin()"><a routerLink="/users" routerLinkActive="active">Users</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid dropdown-container">
    <div class="row">
      <div class="col">
        <div class="dropdown">
          <ul>
            <li>
              <a routerLink="/movies" routerLinkActive="active">Movies</a>
              <ul *ngIf="isAdmin()" >
                <li>
                  <a routerLink="/movies/create" routerLinkActive="active">New</a>
                </li>
              </ul>
            </li>
            <li>
              <a routerLink="/genres" routerLinkActive="active">Genres</a>
              <ul *ngIf="isAdmin()" >
                <li>
                  <a routerLink="/genres/create" routerLinkActive="active">New</a>
                </li>
              </ul>
            </li>
            <li>
              <a routerLink="/actors" routerLinkActive="active">Actors</a>
              <ul *ngIf="isAdmin()" >
                <li>
                  <a routerLink="/actors/create" routerLinkActive="active">New</a>
                </li>
              </ul>
            </li>
            <li>
              <a routerLink="/directors" routerLinkActive="active">Directors</a>
              <ul *ngIf="isAdmin()" >
                <li>
                  <a routerLink="/directors/create" routerLinkActive="active">New</a>
                </li>
              </ul>
            </li>
            <li *ngIf="isAdmin()">
              <a routerLink="/users" routerLinkActive="active">Users</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</header>
