<header>
  <div id="header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Movies catalogue</h1>
          <span *ngIf="isLoggedIn()">hello, {{user.firstName}}. <a href="#" (click)="logout()">Log out</a></span>
          <span *ngIf="!isLoggedIn()">hello, stranger. <a routerLink="/users/login">Log in</a></span>
        </div>
        <div class="col-md-12">
          <!--<h2>Hi {{currentUser.nick}}</h2>-->
        </div>
      </div>
    </div>
  </div>
  <div id="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li><a routerLink="movies" routerLinkActive="active">Movies</a></li>
            <li><a routerLink="genres" routerLinkActive="active">Genres</a></li>
            <li><a routerLink="actors" routerLinkActive="active">Actors</a></li>
            <li><a routerLink="directors" routerLinkActive="active">Directors</a></li>
            <li><a routerLink="ratings" routerLinkActive="active">Ratings</a></li>
            <li><a routerLink="users" routerLinkActive="active">Users</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</header>
