@import "../../../config";

header {
  box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.5);

  #header-top {
    height: 100px;
    width: 100%;
    background: @clr-header-top;
    display: flex;
    align-items: center;

    .logo{
      .logo-bg{
        background:url('../../../assets/logo.png');
        background-position:bottom;
        background-size:contain;
        height:75px;
        width:150px;
      }
    }

    h1 {
      margin:0;
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      font-weight: 300;
    }
    h1,span,a{
      color: @clr-header-link;
      &:hover{
        counter-reset:@clr-header-link;
      }
    }
    a{
      text-decoration:underline;
    }
  }
  #header-bottom {
    height: 60px;
    background: @clr-header-bottom;
    ul {
      list-style-type: none;
      margin:0;
      padding:0;
      li {
        margin:0;
        padding:0;
        display: inline-block;
        a {
          display: flex;
          height: 60px;
          margin: 0 20px;
          align-items: center;
          font-weight: 300;
          font-size: 15px;
          color: @clr-header-link;
          &:hover, &.active {
            color: @clr-header-link--active;
          }
        }
      }
    }
  }
}

.dropdown-container{
  display:none;
  background: @clr-header-bottom;
  color:@clr-header-link;
  ul{
    width:100%;
    list-style: none;
    padding-left:17px;
    li{
      display:block;
      a{
        display:block;
        padding:10px;
        color: @clr-header-link;
        &:hover, &.active{
        color: @clr-header-link--active;
        }
      }
    }
  }
}

