<h2>Users</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Nick</th>
    <th scope="col">Mail</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Admin</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.nick}}</td>
    <td>{{user.mail}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.admin}}</td>
    <td>
      <a routerLink="/users/detail/{{user.id}}" class="btn btn-dark btn-sm">show detail</a>
      <div *ngIf="isUserAdmin()">
        <a routerLink="/users/edit/{{user.id}}" class="btn btn-dark btn-sm">edit</a>
        <button (click)="remove(user.id);" class="btn btn-danger btn-sm">delete</button>
        <button *ngIf="!user.admin" (click)="makeAdmin(user)" class="btn btn-danger btn-sm">make admin</button>
        <button *ngIf="user.admin" (click)="unmakeAdmin(user)" class="btn btn-danger btn-sm">unmake admin</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
