<h2>Directors</h2>
<div *ngIf="error" class="alert alert-danger">
  {{error}}
</div>
<table class="table table-responsive d-md-table">
  <thead>
  <tr>
    <th scope="col">Director name</th>
    <th scope="col">Born</th>
    <th scope="col">Movies</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let director of directors">
    <td>{{director.firstName}} {{director.lastName}}</td>
    <td>{{director.dateOfBirth.dayOfMonth}}.{{director.dateOfBirth.monthValue}}.{{director.dateOfBirth.year}}</td>
    <td><span *ngFor="let movie of director.movies; let last=last;">
      {{movie.title}}<span *ngIf="!last">,</span>
    </span></td>

    <td>
      <!--<button class="btn btn-primary btn-sm">show movies</button>-->
      <div class="btn-group btn-group-sm" role="group">
        <a routerLink="/directors/detail/{{director.id}}" class="btn btn-dark btn-sm">detail</a>
        <a *ngIf="isUserAdmin()" routerLink="/directors/edit/{{director.id}}" class="btn btn-secondary btn-sm">edit</a>
        <button *ngIf="isUserAdmin()" (click)="remove(director.id);" class="btn btn-danger btn-sm">delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
