<h2>Directors</h2>
<table class="table table-responsive ">
  <thead>
  <tr>
    <th scope="col">Director name</th>
    <th scope="col">Born</th>
    <th scope="col">Movies</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let director of directors">
    <td>{{director.firstName}} {{director.lastName}}</td>
    <td>{{director.date}}</td>
    <td><span *ngFor="let movie of director.movies; let last=last;">
      {{movie.title}}<span *ngIf="!last">,</span>
    </span></td>

    <td>
      <button class="btn btn-primary btn-sm">show movies</button>
      <a routerLink="/directors/detail/{{director.id}}" class="btn btn-dark btn-sm">show detail</a>
      <a routerLink="/directors/edit/{{director.id}}" class="btn btn-dark btn-sm">edit</a>
      <button (click)="remove(director.id);" class="btn btn-danger btn-sm">delete</button>
    </td>
  </tr>
  </tbody>
</table>
