<h2>
  Detail
</h2>

<form #actorForm="ngForm" name="missionForm">
  <div class="form-group">
    <label for="actor-firstName">Name</label>
    <input disabled [(ngModel)]="actor.firstName" #name="ngModel" name="actor-firstName" type="text" class="form-control" id="actor-firstName" placeholder="name">
  </div>
  <div class="form-group">
    <label for="actor-lastName">Description</label>
    <textarea disabled [(ngModel)]="actor.lastName" #name="ngModel" name="actor-lastName" class="form-control" id="actor-lastName" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="actor-dateOfBirth">Description</label>
    <textarea disabled [(ngModel)]="actor.dateOfBirth" #name="ngModel" name="actor-dateOfBirth" class="form-control" id="actor-dateOfBirth" rows="3"></textarea>
  </div>
  <a routerLink="/actors/edit/{{actor.id}}" class="btn btn-dark btn-sm">edit</a>
  <button (click)="remove(actor.id)" class="btn btn-danger btn-sm">delete</button>

</form>
