<h2>Actors</h2>
<table class="table table-responsive ">
  <thead>
  <tr>
    <th scope="col">Actor name</th>
    <th scope="col">Born</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let actor of actors">
    <td>{{actor.firstName}} {{actor.lastName}}</td>
    <td>{{actor.date}}</td>
    <td>
      <!--<button class="btn btn-primary btn-sm">show movies</button>-->
      <a routerLink="/actors/detail/{{actor.id}}" class="btn btn-dark btn-sm">show detail</a>
      <div *ngIf="isUserAdmin()">
        <a routerLink="/actors/edit/{{actor.id}}" class="btn btn-dark btn-sm">edit</a>
        <button (click)="remove(actor.id);" class="btn btn-danger btn-sm">delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
