.movie-detail{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  .movie-image-container{
    max-width:17rem;
    margin-right:10px;
  }

  .movie-detail-description{

  }

}
.movie-description{
margin-top:15px;
}

.card-image-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom:15px;
  .card-image{
    .img-thumbnail{
      margin:5px;
    }
  }
  .card-body{
    flex:0 0 80%;
  }
}
