<h2>
  Detail
</h2>

<form #directorForm="ngForm" name="missionForm">
  <div class="form-group">
    <label for="director-firstName">Name</label>
    <input disabled [(ngModel)]="director.firstName" #firstName="ngModel" firstName="director-firstName" type="text" class="form-control" id="director-firstName" placeholder="name">
  </div>
  <div class="form-group">
    <label for="director-lastName">Description</label>
    <input disabled [(ngModel)]="director.lastName" #lastName="ngModel" name="director-lastName" type="text" class="form-control" id="director-lastName" placeholder="name">
  </div>
  <div class="form-group">
    <label for="director-dateOfBirth">Description</label>
    <input disabled [(ngModel)]="director.dateOfBirth" #dateOfBirth="ngModel" name="director-dateOfBirth" type="text" class="form-control" id="director-dateOfBirth" placeholder="date">
  </div>
  <a routerLink="/director/edit/{{director.id}}" class="btn btn-dark btn-sm">edit</a>
  <button (click)="remove(director.id)" class="btn btn-danger btn-sm">delete</button>

</form>
