<h2>
  {{title}}
</h2>

<form #userForm="ngForm" name="missionForm">
  <div class="form-group">
    <label for="user-nick">Nick</label>
    <input [(ngModel)]="user.nick" #nick="ngModel" name="user-nick" type="text" class="form-control" id="user-nick">
  </div>
  <div class="form-group">
    <label for="user-mail">Mail</label>
    <input type="email" [(ngModel)]="user.mail" #mail="ngModel" name="user-mail" class="form-control" id="user-mail">
  </div>
  <div class="form-group">
    <label for="user-firstName">First Name</label>
    <input type="text" [(ngModel)]="user.firstName" #firstName="ngModel" name="user-firstName" class="form-control" id="user-firstName">
  </div>
  <div class="form-group">
    <label for="user-lastName">Last Name</label>
    <input type="text" [(ngModel)]="user.lastName" #lastName="ngModel" name="user-lastName" class="form-control" id="user-lastName">
  </div>
  <div class="form-group">
    <label for="user-password">Password</label>
    <input type="password" [(ngModel)]="user.password" #password="ngModel" name="user-password" class="form-control" id="user-password">
  </div>
  <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
  <button *ngIf="editing==true" (click)="remove(user.id)" class="btn btn-danger btn-sm">delete</button>
</form>

